.container {
    outline: solid red;
    width: 1310px;
    padding: 0 15px;
    margin: 0 auto;
}

.header {
    background-color: black;
    padding-top: 40px;
}

.header-flex {
    display: flex;
    align-items: center;
}

.header-logo {
    color: #FFF;
    font-size: 28px;
    font-weight: 700;
    letter-spacing: 0.28px;
    line-height: normal;
    margin-right: 323px;
}

.header-list {
    display: flex;
    align-items: center;
}

.header-link {
    color: #FFF;
    font-size: 18px;
    line-height: normal;
}

.header-item:nth-child(1) .header-link {
    position: relative;
}

.header-item:nth-child(2) .header-link {
    padding-left: 65px;
    padding-right: 62px;
}

.header-item:nth-child(3) .header-link {
    padding-right: 64px;
}

.header-item:nth-child(4) .header-link {
    padding-right: 367px;
}

.header-item:nth-child(1) .header-link::after {
    content: '';
    display: block;
    width: 18px;
    height: 18px;
    background-image: url(../img/arrow-to-bottom.png);
    position: absolute;
    top: 15%;
    left: 70px;
    margin-left: 8px;
}

.header-list::after {
    content: '';
    display: block;
    width: 40px;
    height: 34px;
    background-image: url(../img/bag.png);
}

.hero {
    background-image: url(./img/Rectangle.webp);
    padding-top: 86px;
    padding-bottom: 524px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    min-height: 1109px;
}

.hero-title {
    color: #FFF;
    text-align: center;
    font-size: 80px;
    margin: 0 auto;
    font-weight: 700;
    line-height: 1.3;
    letter-spacing: -0.8px;
    text-transform: capitalize;
    max-width: 861px;
    margin-bottom: 14px;
}

.hero-text {
    color: #FFF;
    text-align: center;
    font-size: 24px;
    line-height: 1.6;
    opacity: 0.800000011920929;
    max-width: 606px;
    margin: 0 auto;
    margin-bottom: 45px;
}

.hero-input {
    border-radius: 42px;
    border: 0.862px solid rgba(255, 255, 255, 0.60);
    background: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(4px);
    color: #FFF;
    font-size: 18px;
    line-height: 1.5;
    opacity: 0.800000011920929;
    padding: 8px 8px 8px 20px;
    margin: 0 auto;
}

.hero-input::placeholder {
    color: #FFF;
    font-size: 18px;
    line-height: 1.5;
    opacity: 0.800000011920929;
}